@tailwind base;
@tailwind components;
@tailwind utilities;

/* header */
.vector-header {
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 83%);
  z-index: 8;
  height: 720px;
  width: 100%;
  top: 0rem;
}
.vector-header-border {
  position: absolute;

  height: 100px;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 83%);
  background-color: #1f271b;

  z-index: 9;
}
/* vector 1 */
.vector1 {
  width: 100%;
  height: 526px;
  background-color: #00819e;
  position: relative;
  clip-path: polygon(0 0, 100% 15%, 100% 83%, 0 100%);
  z-index: 9;
  top: 40rem;
}

.vector1-border {
  width: calc(100%);
  height: 575px;

  z-index: 8;
  clip-path: polygon(0 0, 100% 15%, 100% 83%, 0 100%);
  box-sizing: border-box;
  top: 40rem;
  background-color: #1f271b;
}

/* vector 2 */
.vector2 {
  clip-path: polygon(0 10%, 100% 3%, 100% 98%, 0 89%);
  width: 100%;
  height: 1410px;
  background-color: #ffba49;
  position: absolute;
  top: 67rem;
  z-index: 9;
}

.vector2-border {
  width: calc(100%);
  height: 1350px;
  position: absolute;
  z-index: 8;
  clip-path: polygon(0 10%, 100% 3%, 100% 98%, 0 89%);
  box-sizing: border-box;
  background-color: #1f271b;
  top: 60rem;
}

/* vector 3 */
.vector3 {
  position: absolute;
  width: 100%;
  height: 2832px;
  background: #0f7b41;
  clip-path: polygon(100% 6%, 100% 94%, 0 98%, 0 1%);
  top: 145.6rem;
  z-index: 9;
}

.vector3-border {
  width: calc(100%);
  height: 3032px;
  position: absolute;
  z-index: 8;
  clip-path: polygon(100% 6%, 100% 94%, 0 98%, 0 1%);
  box-sizing: border-box;
  top: 136.6rem;
  background-color: #1f271b;
}

/* vector 4 */
.vector4 {
  position: absolute;
  width: 100%;

  height: 1369px;
  background: #0090b2;
  z-index: 9;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 8%);
  top: 313.6rem;
}

.vector4-border {
  width: calc(100%);
  height: 1432px;
  position: absolute;
  z-index: 8;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 8%);
  box-sizing: border-box;
  top: 333.6rem;
  background-color: #1f271b;
}

/* vector 5 */
.vector5 {
  position: absolute;
  width: 100%;
  height: 851px;
  top: 401rem;
  background: #ffba49;
  z-index: 9;
}

.vector5-border {
  background-color: #1f271b;
  height: 1251px;
  width: 1222px;
  top: 383rem;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 8%);
  z-index: 8;
}
/* vector sfsa6 */
